# =====================================================
# Car Cloud - Cars 车辆服务
# 开发环境配置 (dev)
# =====================================================

server:
  port: 9002

spring:
  datasource:
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/car_cloud?useUnicode=true&characterEncoding=utf-8&useSSL=false
    username: root
    password: "Root@123456"

eureka:
  instance:
    prefer-ip-address: true
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/

logging:
  level:
    root: INFO
    com.car: DEBUG
